# https://www.appveyor.com/docs/appveyor-yml/


image:
    #- Visual Studio 2013
    #- Visual Studio 2015
    - Visual Studio 2017

platform:
  - x86
    #- x64

install:
  - call "C:\Program Files (x86)\Microsoft Visual Studio\2017\Community\VC\Auxiliary\Build\vcvars32.bat"


build_script:
  - ps: build.ps
