# https://www.appveyor.com/docs/appveyor-yml/


image:
  - ubuntu
  - Visual Studio 2013
  - Visual Studio 2015
  - Visual Studio 2017

platform:
  - x86
  - x64


build:
  - mkdir build
  - cd build
  - cmake ..
  - cmake --build .
